numpy>=1.18.5,<1.24.0
pillow>=7.1.2
scikit-learn
tqdm>=4.41.0
albumentations>=1.0.3
jupyterlab
matplotlib>=3.2.2
natsort
scikit-image>=0.16.1
tensorboardx
torchcontrib
tifffile
pygit2
opencv-python>=4.1.1
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0,!=1.12.0
torchvision>=0.8.1,!=0.13.0
protobuf<4.21.3
pandas>=1.1.4
seaborn>=0.11.0
ipython
psutil
thop
roboflow